# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

src/*.egg-info

src/__pycache__


artifacts/

build/

data/external/
data/raw/
data/processed/

mle_project.egg-info/*

logs/